<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kanakku.dreamguystech.com/html/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Aug 2021 10:01:35 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/all.min.css">

    <link rel="stylesheet" href="css/style.css">

    <style>
        .sidebar-inner::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body>

    <div class="main-wrapper">


        {{>navbar}}
        {{>sidebar}}


        <div class="page-wrapper">
            <div class="content container-fluid">
                <input type="hidden" id="pid" value="{{id}}">
                <div id="alert">
                    {{!-- alert --}}
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <h5 class="card-title">Stock Info</h5>
                                </div>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label>Item Name</label>
                                                <input type="text" class="form-control" value="{{itemName}}" id="itemname" disabled="true">
                                            </div>
                                        </div>

                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                <input type="text" class="form-control" value="{{quantity}}" id="qty" disabled="true">
                                            </div>
                                        </div>

                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label>Bill Date</label>
                                                <div class="">
                                                    <input class="form-control datetimepicker" value="{{billDate}}" type="date" id="date" disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label>MRP</label>
                                                <input type="text" class="form-control" value="{{mrp}}" id="mrp" disabled="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label>Rate</label>
                                                <input type="text" class="form-control" value="{{rate}}" id="rate" disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-stripped table-center table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Item Name</th>
                                                    <th>Quantity</th>
                                                    <th>Rate</th>
                                                    <th>Total Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" value="{{itemName}}" id="itemname2" disabled="true">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="{{quantity}}" id="qty2" disabled="true">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="{{rate}}" id="rate2" disabled="true">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="{{tamt}}" id="tamt"
                                                            disabled>
                                                    </td>
                                                    <td>

                                                        <a href="#" onclick="clearData()"
                                                            class="btn btn-sm btn-white text-danger me-2"><i
                                                                class="far fa-trash-alt me-1"></i>Delete</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-stripped table-center table-hover">
                                            <thead></thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="text-end">Sub Total</td>
                                                    <td class="text-end" id="stotal">{{tamt}} Rs</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="text-end">Total</td>
                                                    <td class="text-end" id="total"> {{tamt}} Rs</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    {{!-- scripts here --}}
    <script>

      


    </script>












    <script src="../scripts/jquery-3.6.0.min.js"></script>

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>

    <script src="../scripts/feather.min.js"></script>

    <script src="../scripts/jquery.slimscroll.min.js"></script>

    <script src="../scripts/apexcharts.min.js"></script>
    <script src="../scripts/chart-data.js"></script>

    <script src="../scripts/script.js"></script>
</body>


</html>